<div class="d-flex flex-column align-items-center border border-light mt-5">
  <h1>URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="url shortener exported content image" class="mt-5" style="width: 200px;">
  <div class="result mt-5">
    {{!-- 輸入相同網址時，產生一樣的縮址 --}}
    {{#if url}}
    <h2 class="text-left">We have had shortened the url before this one:</h2>
    <div style="font-size: 30px; text-align:left;">
      <a href="{{ url.inputUrl }}" target="_blank" id="copyText">{{ url.outputUrl }}</a>
    </div>
    {{else}}
    {{!-- 輸入新建網址時 --}}
    {{#if inputUrl}}
    <h2 class="text-left">Success! Please use this link:</h2>
    <div style="font-size: 30px; text-align:left;">
      <a href="{{ inputUrl }}" target="_blank" id="copyText">{{ newOutputUrl }}</a>
    </div>
    {{/if}}
    {{/if}}
  </div>

  <div class="buttons mt-5">
    <button class="copy btn btn-outline-primary" onclick="copy()">Copy</button>
    <a href="/" class="btn btn-outline-primary">Back</a>
  </div>
  
  <script>
    function copy() {
      const URL = document.getElementById("copyText")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>
</div>